ValidarTarjetaServer/src/main/resources/ValidarTarjeta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://itq.edu/soa" targetNamespace="http://itq.edu/soa"  elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="RequestValidarTarjeta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Tarjeta" type="xs:string">
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResponseValidarTarjeta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Validacion" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
