Temperatura/src/main/resources/temperatura.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://temperatura.com">
	<xs:element name="requestCelsius">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tempCelcius" type="xs:double"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="responseFarenheit">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tempFarenheit" type="xs:double"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
